* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #222;
    line-height: 1.6;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 4px solid #0066cc;
}

.capa h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.subtitulo {
    font-size: 18px;
    color: #ddd;
    max-width: 800px;
    margin: auto;
}

.estrelas {
    color: #ffcc00;
    font-size: 25px;
    margin-top: 15px;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

section,
article,
aside {
    background-color: white;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}

h2 {
    color: #0066cc;
    margin-bottom: 20px;
    font-size: 27px;
}

.ficha ul {
    list-style: none;
}

.ficha li {
    background-color: #eeeeee;
    margin-bottom: 8px;
    padding: 10px 15px;
    border-left: 4px solid #0066cc;
    border-radius: 4px;
}

.ficha strong {
    color: #222;
}

time {
    color: #cc9900;
    font-weight: bold;
}

figure {
    text-align: center;
}

picture img {
    width: 100%;
    max-width: 900px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #0066cc;
    display: block;
    margin: auto;
}

.etiqueta {
    background-color: #0066cc;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 7px 15px;
    margin-top: 15px;
    border-radius: 4px;
}

figcaption {
    margin-top: 15px;
    color: #555;
    font-style: italic;
}

figcaption mark {
    background-color: #ffcc00;
    color: #222;
    padding: 3px 6px;
    border-radius: 3px;
}

article p {
    margin-bottom: 18px;
    color: #333;
    font-size: 16px;
}

article strong {
    color: #0066cc;
}

article em {
    color: #cc9900;
}

article mark {
    background-color: #ffcc00;
    color: #222;
    padding: 3px 6px;
    border-radius: 3px;
}

aside {
    border-left: 5px solid #0066cc;
    background-color: #eeeeee;
}

aside h2 {
    color: #0066cc;
}

aside p {
    color: #333;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px 20px;
    margin-top: 30px;
    border-top: 3px solid #0066cc;
}

footer p {
    margin: 8px;
    color: #ddd;
}

address {
    color: white;
    font-style: normal;
    margin: 10px 0;
}

@media (max-width: 700px) {

    .capa h1 {
        font-size: 35px;
    }

    .subtitulo {
        font-size: 16px;
    }

    main {
        width: 95%;
    }

    section,
    article,
    aside {
        padding: 18px;
    }

    picture img {
        height: 250px;
    }

    h2 {
        font-size: 23px;
    }
}